<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Rawe Ceek - Is it a race week?</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Welcome to RaweCeek - the totally tubular F1 Race Week countdown! Here you can discover when the next Grand Prix session blasts off - it's awesome!?">
  <link rel="icon" th:href="@{/favicon.ico}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<main>
  <div layout:fragment="content" class="content"></div>
</main>
</body>

</html>